<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new reservation</title>
</head>
<body>
<span style="font-size:50px">Add new reservation</span>
    <form action="#" th:action="@{/save-reservation}" th:object="${reservationDTO}" method="post">
        <table border="1" cellpadding="1" cellspacing="1" style="width:500px">
            <tbody>
            <tr>
                <td><label for="fullName">Full name</label></td>
                <td><input type="text" th:field="*{fullName}" id="fullName" placeholder="fullName"></td>
            </tr>
            <tr>
                <td><label for="roomNumber">Room number</label></td>
                <td><input type="text" th:field="*{roomNumber}" id="roomNumber" placeholder="Room number"></td>
            </tr>
            <tr>
                <td><label for="reservationDate1">Reservation date 1</label></td>
                <td> <input type="date" th:field="*{reservationDate1}" id="reservationDate1"/> </td>
            </tr>
            <tr>
                <td><label for="reservationDate2">Reservation date 2</label></td>
                <td> <input type="date" th:field="*{reservationDate2}" id="reservationDate2"/> </td>
            </tr>
            <tr>
                <td><label for="reservationDate3">Reservation date 3</label></td>
                <td> <input type="date" th:field="*{reservationDate3}" id="reservationDate3"/> </td>
            </tr>
            </tbody>
        </table>
        <input type="submit" value="Add reservation">
    </form>
</table>
</body>
</html>